body {
    margin:0;
}

.container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 10px;
    grid-template-areas: 
        'left top'
        'left exp'
        'left education'
        'left testimonials';
}
.mobileContent {
    display: none;
}
.invis {
color: #DCDCDC;
}

.item {
    margin:0;
}
.left {
    grid-area: left;
    background-color: #263238;
    color: #DCDCDC;
    /* position: -webkit-sticky; */
    /* position: sticky; */
}

.details_left {
    padding: 2.5em;
}

.left p {
    font-size: 0.9em;
}

.h2_left {
background-color: #DCDCDC;
color: #263238;
padding: 0.2em;
font-size: 2em;
text-align: center;
}

#donut {
    border: 4px #DCDCDC solid;
    border-radius: 50% 50% 50% 50%;
    margin: 4.5em auto;
    height: 10em;
    width: 10em;
    overflow: hidden;
}
img {
    height: 100%;
    width: 100%;
}

.top {
    grid-area: top;
    padding: 2.5em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3em;
    color: #B22222;
    text-transform: uppercase;
    margin-bottom: 0;
}

#title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    text-transform: uppercase;
}

hr {
    color: #B22222;
    border-top: 4px;
    margin-bottom: 1.5em;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 1em;
}

.fas {
color:#B22222;
margin-right: 1em;
}
/* work experience section */
.exp {
    grid-area: exp;
    padding: 2.5em;
}

.job {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 10px;
    grid-template-areas: 
        'date_loc jd';
    align-items: start;    
    margin-bottom: 2.5em;
}

.job >p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}

.date_loc {
    grid-area: date_loc;
}

.period {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #263238;
    margin-top: 0;
}    

.jd {
    grid-area: jd;
    display: flex;
    flex-flow: column;
    align-self: start;
    
}

.job_title {
    font: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #B22222;
    margin-top: 0;
}

.employer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #263238;
    margin-top: 0;
}

li {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}

/* Education section */
.education {
    grid-area: education;
    padding: 2.5em;
}

.course {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 10px;
    grid-template-areas: 
        'date_loc course_d';
    align-items: start;    
    margin-bottom: 2.5em;
}

.course >p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}

.date_loc {
    grid-area: date_loc;
}

.course_d {
    grid-area: course_d;
    display: flex;
    flex-flow: column;
    align-self: start;
}

.provider {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: #263238;
    margin-top: 0;
}

.qualification {
    font: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #B22222;
    margin-top: 0;
}

/* testimonials section */
.testimonials {
    grid-area: testimonials;
    padding: 2.5em;
    padding-bottom: 0;
    /* introducing a grid here */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-bottom:0;
}
.testimony {
    display: flex;
    flex-flow: column;
    background-color: #DCDCDC;
    color: #263238;
    border-radius: 0.2em;
    padding: 2em;
}

.testimony >p {
    font-family: "Mate", serif;
    font-style: italic;
    font-size: 1.2em;
    z-index: 5;
}

.fa-quote-right {
    font-size: 3em;
    opacity:20%;
    /* z-index:-1; */
}


.signature {
margin-top: auto;
align-items: end;
text-align: center;
}

.small_donut {
    border: 4px white solid;
    border-radius: 50% 50% 50% 50%;
    margin: auto;
    height: 5em;
    width: 5em;
    overflow: hidden;
}

.name_job {
    margin:auto;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.ref_job {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}


@media screen and (max-width: 980px) {
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        'left top'
        'left exp'
        'left education'
        'left testimonials ';
    }

    .job {
        grid-template-columns:1fr;
        grid-template-areas:
        'date_loc'
        'jd'
    }

    .course {
        grid-template-columns:1fr;
        grid-template-areas:
        'date_loc'
        'course_d'  
    }
  }

  @media screen and (max-width: 600px) {
    .item {
      font-size: 1em;
      margin: auto;
    }
    .top {
        display: none;
    }
    .mobileContent {
        display: inline;
        text-align: center;
    }

    .mobileContent h1 {
        font-size: 2.1em;
    }

    .mobileContent h2 {
        font-size: 1.1em;
    }

    .container {
      grid-template-columns: 1fr;
      grid-template-areas: 
        'left'
        'exp'
        'education'
        'testimonials';
    }
  }