body {
    margin: 0;
}

/* Set font-family for all elements on website */
* {
    font-family: "Roboto", sans-serif;
}
main {
    grid-template-columns: 1fr;
    grid-template-areas:
        'aside'
        'exp'
        'education'
        'testimonials';
    margin-top: 0;
}

aside {
    background-color: #263238;
    color: #DCDCDC;
    grid-area: aside;
    padding: 0.6em 0;
    top: 0;
}

section {
    font-size: 1em;
    margin: 0 auto;
}

.top {
    display: none;
}

.mobileContent {
    display: inline;
    text-align: center;
}

.mobileContent h1 {
    color: #DCDCDC;
    font-size: 1.8em;
}

.mobileContent h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
}

.gotopbtn {
    bottom: 0.5em;
    color: #B22222;
    font-size: 1.3em;
    line-height: 2em;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
}

aside>.details {
    padding: 0.7em 2.5em 0.3em 2.5em;
    font-size: 0.95em;
}

address {
    padding: 0.9em 2.5em 0.3em 2.5em;
}

aside>.hobbies {
    font-size: 14px;
    margin: auto;
    padding: 0.9em 2.5em;
    text-align: center;
}

aside address p {
    font-size: 0.8em;
    font-style: normal;
}

aside .fas,
aside .fab {
    color: #DCDCDC;
    margin: 0 0.5em;
}

aside>h2 {
    background-color: #DCDCDC;
    color: #263238;
    font-size: 1.5em;
    padding: 0.18em;
    text-align: center;
}

.donut {
    border: 4px #DCDCDC solid;
    border-radius: 50% 50% 50% 50%;
    height: 7em;
    margin: 1.7em auto;
    overflow: hidden;
    width: 7em;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    color: #B22222;
    font-size: 2.2em;
    font-weight: 100;
    margin-bottom: 0;
    text-transform: uppercase;
}

a {
    color: #DCDCDC;
    text-decoration: none;
}

a:hover {
    color: #B22222;
}

hr {
    border-color: #B22222;
    border-top: 4px;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

p {
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 1em;
}

.fas {
    color: #B22222;
    margin-right: 1em;
}

/* work experience section */
.exp {
    grid-area: exp;
    padding: 0 2.5em;
    margin-top: 4em;
}

.job {
    grid-template-columns: 1fr;
    grid-template-areas:
        'date_loc'
        'jd'
}

.job>p {
    font-size: 0.9em;
    font-weight: 300;
}

.date_loc {
    grid-area: date_loc;
}

.period {
    color: #263238;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 0;
}

.jd {
    align-self: start;
    display: flex;
    flex-flow: column;
    grid-area: jd;
}

.nomen {
    color: #B22222;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 0;
}

.employer {
    color: #263238;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 0;
}

li {
    font-size: 0.9em;
    font-weight: 300;
    margin-left: -25px;
}

li:last-child {
    margin-bottom: 1em;
}

/* Education section */
.education {
    grid-area: education;
    margin: 0;
    padding: 0 2.5em;
}

.course {
    grid-template-columns: 1fr;
    grid-template-areas:
        'date_loc'
        'course_d'
}

.course>p {
    font-size: 0.9em;
    font-weight: 300;
}

.date_loc {
    grid-area: date_loc;
}

.course_d {
    align-self: start;
    display: flex;
    flex-flow: column;
    grid-area: course_d;
}

.provider {
    color: #263238;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 0;
}

.course_d p:last-child {
    margin-bottom: 3em;
}

/* testimonials section */
.testimonials {
    display: flex;
    flex-flow: row wrap;
    grid-area: testimonials;
    padding: 2.5em;
}

.testimony {
    background-color: #DCDCDC;
    border-radius: 0.2em;
    color: #263238;
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5em;
    padding: 2em;
}

.testimony>p {
    font-family: "Mate", serif;
    font-size: 1.2em;
    font-style: italic;
}

.fa-quote-right {
    font-size: 3em;
    opacity: 20%;
}

.signature {
    align-items: flex-end;
    margin-top: auto;
    text-align: center;
}

.signature .donut {
    border: 4px white solid;
    height: 5em;
    width: 5em;
}

.name_job {
    margin: auto;
}

.name {
    font-size: 1em;
    font-weight: 300;
}

.ref_job {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}
/* very small screens - Nokia 8110 4G */
@media screen and (max-width:350px) and (min-width:240px) {

    aside>h2,
    h2 {
        font-size: 0.9em;
        font-weight: 400;
    }

    .testimony>p {
        font-size: 1em;
    }

    .name {
        font-size: 0.8em;
    }

    .nomen {
        font-size: 0.9em;
    }

    .donut {
        height: 6em;
        width: 6em;
    }

    .fas {
        margin-right: 0.5em;
    }

    /* Combined 'li', '.job > p' and '.course > p' into one class */
    li,
    .job>p,
    .course>p 
    aside p {
        font-size: 0.85em;
    }

    .ref_job {
        font-size: 0.7em;
    }

    .fa-quote-right {
        font-size: 2em;
    }

    address .fas, address .fab {
        display: none;
    }

    aside .hobbies>i {
        font-size: 1.2em;
        margin: 0 0.5em;
    }

    .mobileContent h1 {
        font-size: 1.5em;
    }
}

/* If the height is less than 730px show mobile view */
@media screen and (min-width: 1030px) and (min-height: 730px) {

    .gotopbtn {
        display: none;
    }

    body {
        display: grid;
        grid-template-columns: 400px auto;
    }

    main {
        grid-column-start: 2;
    }

    .mobileContent {
        display: none;
    }

    aside {
        background-color: #263238;
        color: #DCDCDC;
        grid-area: aside;
        height: 100%;
        min-height: 95vh;
        position: fixed;
        top: 0;
        width: 400px;
    }

    .top {
        display: inline-grid;
        grid-area: top;
        grid-column-start: 2;
        padding: 2em 2.5em;
    }

    .exp {
        margin-top: 0;
    }

    #title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 0;
        text-transform: uppercase;
    } 

    .job {
        align-items: start;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            'date_loc jd';
        grid-template-columns: 2fr 6fr;
        margin-bottom: 2.5em;
    }

    .education {
        margin: 0;
    }

    .course {
        align-items: start;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            'date_loc course_d';
        grid-template-columns: 2fr 6fr;
        margin-bottom: 2.5em;
    }

    .testimonials {
        display: grid;
        grid-area: testimonials;
        padding: 2.5em;
        /* introducing a grid here */
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 1em;
    }
}